<!-- include header template -->
<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= results[0].title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" name="image" src="<%= results[0].image %>">
        </div>
        <div class="content">
            <span><%= results[0].date %></span>
        </div>
        <div class="description">
            <p><%= results[0].body %></p>
        </div>
        <!-- Add Update and Delete buttons later -->
        <a class="ui blue basic button" href="/blogs/<%= results[0].postId %>/edit">Edit Post</a>
        <a class="ui red basic button" href="/blogs/<%= results[0].postId %>/delete">Delete Post</a>
        
        <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>
            
            <% results.forEach(function(comment) {%>
                
                <div class="comment">
                    <div class="content">
                        <a class="author"><%= comment.userFirstName %> <%= comment.userLastName %></a>
                        <div class="metadata">
                            <span class="date"><%= comment.commentDate %></span>
                        </div>
                        <div class="text">
                            <%= comment.commentBody %>
                        </div>
                        <form action="/comments/<%= comment.commentId%>" method="POST">
                            <input type="hidden" name="id" value="<%= comment.commentId %>">
                            <input type="hidden" name="blogId" value="<%= comment.postId %>">
                            <% if(comment.commentId !== null) { %>
                                <button class="ui icon button">
                                    <i class="trash alternate icon"></i>
                                </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            <% }) %>
            
        </div>
        <form class="ui reply form" action="/blogs/<%= results[0].postId %>/comments" method="POST">
            <input type="hidden" name="id" value="<%= results[0].postId %>">
            <div class="field">
                <textarea name="comment"></textarea>
            </div>
            <button class="ui blue labeled submit icon button">
                <i class="icon edit"></i> Add Comment
            </button>
        </form>
        
    </div> 
</div>

<!-- include footer template -->
<% include ./partials/footer %>